<div class="login-wrapper">
  <mat-card class="login-card">
    <h2>Bienvenido a NutriGain</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          Ingresa un correo válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        Iniciar Sesión
      </button>

      <button mat-stroked-button color="accent" class="full-width register-button" (click)="irARegistro()">
        ¿No tienes cuenta? Regístrate
      </button>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </mat-card>
</div>
