<footer class="bottom-nav">
  <button mat-icon-button (click)="navigateTo('/dashboard')">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('/nutricion')">
    <mat-icon>restaurant</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('/rutinas')">
    <mat-icon>fitness_center</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateTo('/retos')">
    <mat-icon>emoji_events</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</footer>
